body, html {
    display:flex;
    height: 100%;
    margin: 0;
}


.bgim {
    
    background-image: url("background.jpg");
    height: 100%;
    background-position:center;
    background-repeat: no-repeat;
    background-size:auto;
}


.quote-container {
  display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 800px;
    height: auto;
  margin:30%;
  padding-bottom:10%;
  }

#quote{
    font-family: 'Alex Brush', cursive;
    color:darkred;
    font-size: 38px;
    
}

#author{
    font-family: 'Alex Brush', cursive;
    color:brown;
    font-size: 34px;
    
}
.buttons{
  
}
#new-quote{
    float: right;   
}

#tweet{
    float:left;
}

.fa-twitter:hover,#tweet:hover{
    color: #4099FF;
}

.fa-quote-left,.fa-quote-right{
    color: darkred;
    font-size: 30px;
}