.header{
    
    font-family: 'Graduate', cursive;
    background-color: palevioletred;
    padding-bottom: 10px;
}

.menu{
    padding-top:25px;
}

.btn{
    width:80px;
}
#icon{
    width:80px;
    height: 50px;
}
.row{
    
    margin-top: 5px;   
}
.online{
    background-color: greenyellow;
}
.offline{
    background-color: skyblue;
}
#name,#streaming{
    margin-top: 1%;
}
.hide{
    display: hidden;
}